<h1>Weather Forecast</h1>

<div>
  <% if @weather_forecast && @weather_forecast.errors.any? %>
    <ul>
      <% @weather_forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <%= form_with scope: :weather_forecast, url: weather_forecasts_path do |f| %>
    <div>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div>
      <%= f.submit "Get Forecast" %>
    </div>
  <% end %>
</div>
